#form {
    position: relative;
    text-align: center;
    top: 50px;
    left: 0;
    width: 100%;
    background-color: rgba(127, 41, 130, 1);
    color: #fff;
    width: 500px;
  	max-width: 100%;
  	margin: auto;
  	
  
  }
  #form a {
    width: 100px;
    color: #fff;
    text-decoration: none;
    padding: 5px;
    margin-top: 5px;
    border: 3px solid #fff;
  }
  
  #form .button {
    margin: auto;
    background: rgba(255, 255, 255, 0.1);
	  border: 2px solid #fff;
	  cursor: pointer;
	  font-size: 17px;
	  color:#fff;
	  padding:5px 15px;
  }
